/* grid */

*{
    padding: 0;
    margin: 0;
    
}

body{
    height: 100%;
    overflow-y: scroll;
}

.inner_site_li {
    position: relative;
    z-index: 1;
    padding-top: 50px; /* добавляем отступ равный высоте шапки */
}

header {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #000;
    z-index: 1000;
  }

footer {
    position: relative;
    z-index: 1;
}



/* SVG SETTINGS */

.box_svg{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
}

.svg{
    margin-top: auto;
    border: 1px solid #fff;
    height: 500px;
    width: 500px;
    margin-right: 100px;
}




/* навигация по сайту */
.navigation {
    background-color: #202020;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index: 1;
 }
 
 .nav_bar {
    display: flex;
    justify-content: center;
 }
 
 .nav_ul {
    display: flex;
    justify-content: center;
 }

 .nav_menu_items ul {
    display: flex;
    justify-content: center;
 }

 .nav_bar li {
    list-style: none;
    margin: 0 20px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
 }

 .nav_bar a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Julee', cursive;
    font-weight: bold;
    letter-spacing: 5px;
    cursor: pointer;
    z-index: 1;
 }

.icon_user img{
    height: 35px;
    width: auto;
    margin: 0 20px;
    padding: 15px 0 0 0;
} 

/* список справа */

/* ширина для блока каждого элемента  списка */
.element_sport{
    width: auto;
    margin: 0 10px;
}



 /* Список справа */
 .sports ul ,li{
    margin-bottom: 50px;
    list-style-type: none;
}

.sports li{
    width: 300px;
}

.sport1{
    color: rgb(121, 121, 121);
    font-size: 40px;
    margin-top: 50px;
    padding: 60px 0 0 20px;
    height: 50px;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    display: flex;
    transition: 0.5s;
    cursor: pointer;
}

.sport1:hover{
    font-size: 60px;
    margin-top: 40px;
    padding: 20px;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    display: flex;
    color: rgba(121, 248, 36, 0.623);
    text-decoration: none;
}

.sport1 img{
    height: 40px;
    display: flex; 
}

.sport1:hover img{
    height: 60px;
    display: flex;
    transform: rotate(0.5turn);
    transition: 0.5s;
}


.sport2{
    color: rgb(121, 121, 121);
    font-size: 40px;
    margin-top: 0 0 0 0px;
    padding: 0 20px;
    height: 50px;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    display: flex;
    transition: 0.5s;
    cursor: pointer;
}

.sport2:hover{
    font-size: 60px;
    margin-top: 30px;
    padding: 20px;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    display: flex;
    color: rgba(121, 248, 36, 0.623);
    text-decoration: none;
}

.sport2 img{
    height: 40px;
    display: flex; 
}

.sport2:hover img{
    height: 60px;
    display: flex;
    transform: rotate(0.5turn);
    transition: 0.5s;
}

.sport3{
    color: rgb(121, 121, 121);
    font-size: 30px;
    margin-top: 0 0px;
    padding: 0  20px;
    height: 50px;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    display: flex;
    transition: 0.5s;
    cursor: pointer;
}

.sport3:hover{
    font-size: 60px;
    margin-top: 30px;
    padding: 20px;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    display: flex;
    color: rgba(121, 248, 36, 0.623);
    text-decoration: none;
}

.sport3 img{
    height: 35px;
    display: flex; 
}

.sport3:hover img{
    height: 60px;
    display: flex;
    transform: rotate(0.5turn);
    transition: 0.5s;
}

.sport4{
    color: rgb(121, 121, 121);
    font-size: 30px;
    margin-top: 0 0px;
    padding: 0  20px;
    height: 50px;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    display: flex;
    transition: 0.5s;
    cursor: pointer;
}

.sport4:hover{
    font-size: 60px;
    margin-top: 30px;
    padding: 20px;
    width: 500px;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    display: flex;
    color: rgba(121, 248, 36, 0.623);
    text-decoration: none;
}

.sport4 img{
    height: 35px;
    display: flex; 
}

.sport4:hover img{
    height: 60px;
    display: flex;
    transform: rotate(0.5turn);
    transition: 0.5s;
}

.sport5{
    color: rgb(121, 121, 121);
    font-size: 30px;
    margin-top: 0 0px;
    padding: 0  20px;
    height: 50px;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    display: flex;
    transition: 0.5s;
    cursor: pointer;
}

.sport5:hover{
    font-size: 60px;
    margin-top: 30px;
    padding: 20px;
    width: 500px;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    display: flex;
    color: rgba(121, 248, 36, 0.623);
    text-decoration: none;
}

.sport5 img{
    height: 35px;
    display: flex; 
}

.sport5:hover img{
    height: 60px;
    display: flex;
    transform: rotate(0.5turn);
    transition: 0.5s;
}

.sport6{
    color: rgb(121, 121, 121);
    font-size: 30px;
    margin-top: 0 0px;
    padding: 0  20px;
    height: 50px;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    display: flex;
    transition: 0.5s;
    cursor: pointer;
}

.sport6:hover{
    font-size: 60px;
    margin-top: 30px;
    padding: 20px;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    display: flex;
    color: rgba(121, 248, 36, 0.623);
    text-decoration: none;
}

.sport6 img{
    height: 35px;
    display: flex; 
}

.sport6:hover img{
    height: 60px;
    display: flex;
    transform: rotate(0.5turn);
    transition: 0.5s;
}

.sport7{
    color: rgb(121, 121, 121);
    font-size: 30px;
    margin-top: 0 0px;
    padding: 0  20px;
    height: 50px;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    display: flex;
    transition: 0.5s;
    cursor: pointer;
}

.sport7:hover{
    font-size: 60px;
    margin-top: 30px;
    padding: 20px;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    display: flex;
    color: rgba(121, 248, 36, 0.623);
    text-decoration: none;
}

.sport7 img{
    height: 30px;
    display: flex; 
}

.sport7:hover img{
    height: 60px;
    display: flex;
    transform: rotate(0.5turn);
    transition: 0.5s;
}

/* Фон */

.background_span{
    position: fixed;
    height: 100vh;
    width: 100%;
}

/* отступ для span элементов от шапки сайта */
span {
    display: block;
    margin-top: 50px;
  }
.background__3Oeal {
    width: 100%;
    height: 100%;
    background: #0e0624;
    position:relative;
   
  }
  
  .background__3Oeal > span {
      width: 50vmin;
      height: 50vmin;
      border-radius: 50vmin;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      -webkit-animation-name: background_move__307V1;
      -moz-animation-name: background_move__307V1;
      animation-name: background_move__307V1;
      -webkit-animation-duration: 30s;
      -moz-animation-duration: 30s;
      animation-duration: 30s;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      z-index: 1;
      animation-iteration-count:infinite
  }
  
  .background__3Oeal > span:first-child {
      color: #f84ef8;
      opacity: .2;
      top: 64%;
      left: 3%;
      -webkit-animation-duration: 18.8s;
      -moz-animation-duration: 18.8s;
      animation-duration: 18.8s;
      -webkit-animation-delay: -10.7s;
      -moz-animation-delay: -10.7s;
      animation-delay: -10.7s;
      -webkit-transform-origin: 14vw -22vh;
      -moz-transform-origin: 14vw -22vh;
      transform-origin: 14vw -22vh;
      -webkit-box-shadow: 100vmin 0 20.5259430347vmin currentColor;
      z-index: 1;
      box-shadow:100vmin 0 20.5259430347vmin currentColor
  }
  
  .background__3Oeal > span:nth-child(2) {
      color: #f84ef8;
      opacity: .2;
      top: 24%;
      left: 85%;
      -webkit-animation-duration: 26.5s;
      -moz-animation-duration: 26.5s;
      animation-duration: 26.5s;
      -webkit-animation-delay: -3.1s;
      -moz-animation-delay: -3.1s;
      animation-delay: -3.1s;
      -webkit-transform-origin: -1vw -14vh;
      -moz-transform-origin: -1vw -14vh;
      transform-origin: -1vw -14vh;
      -webkit-box-shadow: 100vmin 0 36.2934581027vmin currentColor;
      z-index: 1;
      box-shadow:100vmin 0 36.2934581027vmin currentColor
  }
  
  .background__3Oeal > span:nth-child(3) {
      color: #f84ef8;
      opacity: .2;
      top: 41%;
      left: 38%;
      -webkit-animation-duration: 26.3s;
      -moz-animation-duration: 26.3s;
      animation-duration: 26.3s;
      -webkit-animation-delay: -9.8s;
      -moz-animation-delay: -9.8s;
      animation-delay: -9.8s;
      -webkit-transform-origin: -5vw -21vh;
      -moz-transform-origin: -5vw -21vh;
      transform-origin: -5vw -21vh;
      -webkit-box-shadow: -100vmin 0 21.6771071789vmin currentColor;
      z-index: 1;
      box-shadow:-100vmin 0 21.6771071789vmin currentColor
  }
  
  .background__3Oeal > span:nth-child(4) {
      color: #f84ef8;
      opacity: .2;
      top: 31%;
      left: 36%;
      -webkit-animation-duration: 32.4s;
      -moz-animation-duration: 32.4s;
      animation-duration: 32.4s;
      -webkit-animation-delay: -3.9s;
      -moz-animation-delay: -3.9s;
      animation-delay: -3.9s;
      -webkit-transform-origin: -24vw -5vh;
      -moz-transform-origin: -24vw -5vh;
      transform-origin: -24vw -5vh;
      -webkit-box-shadow: -100vmin 0 16.8646404307vmin currentColor;
      z-index: 1;
      box-shadow:-100vmin 0 16.8646404307vmin currentColor
  }
  
  .background__3Oeal > span:nth-child(5) {
      color: #f84ef8;
      opacity: .2;
      top: 82%;
      left: 36%;
      -webkit-animation-duration: 30.6s;
      -moz-animation-duration: 30.6s;
      animation-duration: 30.6s;
      -webkit-animation-delay: -2.6s;
      -moz-animation-delay: -2.6s;
      animation-delay: -2.6s;
      -webkit-transform-origin: -7vw -4vh;
      -moz-transform-origin: -7vw -4vh;
      transform-origin: -7vw -4vh;
      -webkit-box-shadow: 100vmin 0 24.5628275968vmin currentColor;
      z-index: 1;
      box-shadow:100vmin 0 24.5628275968vmin currentColor
  }
  
  .background__3Oeal > span:nth-child(6) {
      color: #f84ef8;
      opacity: .2;
      top: 69%;
      left: 33%;
      -webkit-animation-duration: 16.9s;
      -moz-animation-duration: 16.9s;
      animation-duration: 16.9s;
      -webkit-animation-delay: -22.3s;
      -moz-animation-delay: -22.3s;
      animation-delay: -22.3s;
      -webkit-transform-origin: 19vw 0;
      -moz-transform-origin: 19vw 0;
      transform-origin: 19vw 0;
      -webkit-box-shadow: -100vmin 0 30.1798673544vmin currentColor;
      z-index: 1;
      box-shadow:-100vmin 0 30.1798673544vmin currentColor
  }
  
  .background__3Oeal > span:nth-child(7) {
      color: #f84ef8;
      opacity: .2;
      top: 5%;
      left: 35%;
      -webkit-animation-duration: 13s;
      -moz-animation-duration: 13s;
      animation-duration: 13s;
      -webkit-animation-delay: -2.4s;
      -moz-animation-delay: -2.4s;
      animation-delay: -2.4s;
      -webkit-transform-origin: 12vw 23vh;
      -moz-transform-origin: 12vw 23vh;
      transform-origin: 12vw 23vh;
      -webkit-box-shadow: 100vmin 0 18.4708847196vmin currentColor;
      z-index: 1;
      box-shadow:100vmin 0 18.4708847196vmin currentColor
  }
  
  .background__3Oeal > span:nth-child(8) {
      color: #f84ef8;
      opacity: .2;
      top: 9%;
      left: 60%;
      -webkit-animation-duration: 31.5s;
      -moz-animation-duration: 31.5s;
      animation-duration: 31.5s;
      -webkit-animation-delay: -29.6s;
      -moz-animation-delay: -29.6s;
      animation-delay: -29.6s;
      -webkit-transform-origin: -16vw -24vh;
      -moz-transform-origin: -16vw -24vh;
      transform-origin: -16vw -24vh;
      -webkit-box-shadow: 100vmin 0 33.2981169125vmin currentColor;
      z-index: 1;
      box-shadow:100vmin 0 33.2981169125vmin currentColor
  }
  
  .background__3Oeal > span:nth-child(9) {
      color: #f84ef8;
      opacity: .2;
      top: 100%;
      left: 63%;
      -webkit-animation-duration: 30.4s;
      -moz-animation-duration: 30.4s;
      animation-duration: 30.4s;
      -webkit-animation-delay: -2.9s;
      -moz-animation-delay: -2.9s;
      animation-delay: -2.9s;
      -webkit-transform-origin: -5vw 14vh;
      -moz-transform-origin: -5vw 14vh;
      transform-origin: -5vw 14vh;
      -webkit-box-shadow: -100vmin 0 28.9639176573vmin currentColor;
      z-index: 1;
      box-shadow:-100vmin 0 28.9639176573vmin currentColor
  }
  
  .background__3Oeal > span:nth-child(10) {
      color: #f84ef8;
      opacity: .2;
      top: 15%;
      left: 30%;
      -webkit-animation-duration: 29.4s;
      -moz-animation-duration: 29.4s;
      animation-duration: 29.4s;
      -webkit-animation-delay: -7.4s;
      -moz-animation-delay: -7.4s;
      animation-delay: -7.4s;
      -webkit-transform-origin: -16vw -16vh;
      -moz-transform-origin: -16vw -16vh;
      transform-origin: -16vw -16vh;
      -webkit-box-shadow: -100vmin 0 20.9210912688vmin currentColor;
      z-index: 1;
      box-shadow:-100vmin 0 20.9210912688vmin currentColor
  }
  
  @-webkit-keyframes background_move__307V1 {
      to {
          -webkit-transform: translateZ(1px) rotate(1turn);
          transform:translateZ(1px) rotate(1turn)
      }
  }
  
  @-moz-keyframes background_move__307V1 {
      to {
          -moz-transform: translateZ(1px) rotate(1turn);
          transform:translateZ(1px) rotate(1turn)
      }
  }
  
  @keyframes background_move__307V1 {
      to {
          -webkit-transform: translateZ(1px) rotate(1turn);
          -moz-transform: translateZ(1px) rotate(1turn);
          transform: translateZ(1px) rotate(1turn)
      }
  }